<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Layout</title>
    <link rel="stylesheet" href="grid.css" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lexend+Deca|Big+Shoulders+Display"/>
  </head>
  <body>
    <main>
      <div class="col">
        <div class="col1">
            <img align="left" src="icon-sedans.svg">
            <h1>SEDAN</h1>
            <p>Choose a Sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next
                road trip.</p>
            <button class="button button1">Learn More</button>
        </div>
        <div class="col2">
            <img align="left" src="icon-suvs.svg">
            <h1>SUVS</h1>
            <p>Take an SUV for its spacious interior, power and versatility. Perfect for your next family vacation and off-road
                adventures.</p>
            <button class="button button2" color="hsl(184, 100%, 22%)">Learn More</button>
        </div>
        <div class="col3">
            <img align="left" src="icon-luxury.svg">
            <h1>LUXURY</h1>
            <p>Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfor of a luxury rental and arrive
                in style.</p>
            <button class="button button3">Learn More</button>
          <br />
        </div>
      </div>
    </main>
  </body>
</html>
